<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div id="container">
    <div class="home-link">
        <a href='/index' class="button-link">Home</a>
    </div>
    <div class="home-link">
        <a href='/admin' class="button-link">Admin Home</a>
    </div>
    <div id="logout">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div id="header">
        <h1>Spring Boot Library</h1>
    </div>
    <div id="readers-info">
        <table>
            <h3>User Info</h3>
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.getId()}">Id</td>
                <td th:text="${user.getUsername()}">Username</td>
                <td th:text="${user.getRole()}">Role</td>
                <td>
                    <div class="edit">
                        <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}" style="display: inline;">
                            <button type="submit" class="button-link">Edit</button>
                        </form>
                    </div>
                    <div class="delete">
                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" style="display: inline; margin-left: 5px;">
                            <button type="submit" class="button-link">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>