<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div class="home-link">
            <a href='/templates/index.html' class="button-link">Home</a>

            <a href="/books/search" class="button-link">Search Book</a>
        </div>
        <h1>Spring Boot Library</h1>
    </div>
    <div id="books-info">
        <table>
            <h3>All books</h3>
            <div id="paging">
                <span>Books on page </span>
                <span>  <a th:href="@{${httpServletRequestPaging.requestURI}(page=0, books-per-page=3)}">3</a>  </span>
                <span>  <a th:href="@{${httpServletRequestPaging.requestURI}(page=0, books-per-page=5)}">5</a>  </span>
                <span>  <a th:href="@{${httpServletRequestPaging.requestURI}(page=0, books-per-page=10)}">10</a>  </span>
            </div>
            <thead>
            <tr>
                <th></th>
                <th>
                    <span>Author</span>
                    <a th:href="@{${link_builder} + 'sortBy=author'}">
                        <img src="/img/arrow.png" alt="asc" style="transform: rotate(180deg)"></a>
                    <a th:href="@{${link_builder} + 'sortBy=author' + '&isDesc=true'}"><img src="/img/arrow.png" alt="desc"></a>
                </th>
                <th>
                    <span>Title</span>
                    <a th:href="@{${link_builder} + 'sortBy=title'}"><img src="/img/arrow.png" alt="asc"
                                                                                   style="transform: rotate(180deg)"></a>
                    <a th:href="@{${link_builder} + 'sortBy=title' + '&isDesc=true'}"><img src="/img/arrow.png" alt="desc"></a>
                </th>
                <th>
                    <span>Publish Year</span>
                    <a th:href="@{${link_builder} + 'sortBy=year'}"><img src="/img/arrow.png" alt="asc"
                                                                                  style="transform: rotate(180deg)"></a>
                    <a th:href="@{${link_builder} + 'sortBy=year' + '&isDesc=true'}"><img src="/img/arrow.png" alt="desc"></a>
                </th>
                <th></th>
            </tr>

            <tbody>
            <tr th:each="book : ${books}">
                <td>
                    <div th:if="${book.getPerson() == null}"><img src="/img/checkmark.png" alt="Free"></div>
                    <div th:if="${book.getPerson() != null}"><img src="/img/cross.png" alt="Occupied"></div>
                </td>
                <td th:text="${book.getAuthor()}">Author</td>
                <td th:text="${book.getTitle()}">Title</td>
                <td th:text="${book.getYear()}">Year</td>
                <td>
                    <div class="details">
                        <a th:href="@{'/books/' + ${book.getId()}}" class="button-link">Details</a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <!-- Навигация по страницам -->
        <div id="navigation" th:if="${currentPage}">
            <p>Навигация по страницам</p>
            <ul>
                <!-- Кнопка "Предыдущая страница" -->
                <li th:unless="${currentPage == 0}">
                    <a th:href="@{/books(page=${currentPage - 1},books-per-page=${booksPerPage})}">Предыдущая</a>
                </li>
                <li th:text="${currentPage} + 1">1
                </li>
                <!-- Кнопка "Следующая страница" -->
                <li th:unless="${currentPage == totalPages - 1}">
                    <a th:href="@{/books(page=${currentPage + 1},books-per-page=${booksPerPage})}">Следующая</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="create">
        <a href='/books/new' class="button-link">Create new book</a>
    </div>
</div>
</body>
</html>