<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div id="container">
    <div id="logout">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div id="header">
        <div class="home-link" >
            <a href='/index' class="button-link">Home</a>
        </div>
        <div class="all-books" >
            <a href='/books' class="button-link">All books</a>
        </div>
        <h1>Spring Boot Library</h1>
    </div>
    <div id="books-info">
        <table>
            <h3>Book Info</h3>
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Publish Year</th>
                <th th:if="${currentRole.equals('ROLE_ADMIN')}"></th>

            </tr>
            <tbody>
            <tr>
                <td th:text="${book.getAuthor()}">Author</td>
                <td th:text="${book.getTitle()}">Title</td>
                <td th:text="${book.getYear()}">Year</td>
                <td th:if="${currentRole.equals('ROLE_ADMIN')}">
                    <div class="edit">
                        <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}"
                              style="display: inline;">
                            <button type="submit" class="button-link">Edit</button>
                        </form>
                    </div>
                    <div class="delete">
                        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}"
                              style="display: inline; margin-left: 5px;">
                            <button type="submit" class="button-link">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="readers-info">
        <h3>Readers Info</h3>
        <div th:if="${people}">
            <p>Book not taken</p>
            <div  th:if="${currentRole.equals('ROLE_ADMIN')}">
                <form th:method="PATCH" th:action="@{/books/{id}/subscribe(id=${book.getId()})}">
                    <label for="person">Choose a reader:</label>
                    <select th:object="${person}" th:field="*{id}" id="person">
                        <option th:each="person : ${people}" th:value="${person.getId()}"
                                th:text="${person.getName()}"></option>
                    </select>
                    <input type="submit" value="Subscribe" class="button-link" style="display: inline; margin: 5px; width: auto;"/>
                </form>
            </div>
        </div>
        <div th:if="${reader}">
            <span>The book is taken by </span>

            <a th:href="@{'/people/' + ${reader.getId()}}"  th:if="${currentRole.equals('ROLE_ADMIN')}">
                <span th:text="${reader.getName()}"> value</span>
            </a>

            <span th:text="${reader.getName()}"  th:if="${currentRole.equals('ROLE_USER')}"> value</span>

            <div class="unsubscribe"  th:if="${currentRole.equals('ROLE_ADMIN')}">
                <form th:method="PATCH" th:action="@{/books/{id}/unsubscribe(id=${book.getId()})}" style="display: inline; margin-left: 5px;">
                    <button type="submit" class="button-link">Unsubscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>