<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">value</p>

<div th:if="${person == null}">
    <p>Книга не взята</p>
    <br/>
    <form th:method="Patch" th:action="@{/books/{id}/take(id=${book.getId()})}" >
        <label for="personList">Выберите читателя:</label>
        <select th:object="${person}" th:field="*{id}" id="personList">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}"></option>
        </select>

        <input type="submit" value="Взять книгу"/>
    </form>
</div>
<div th:if="${person != null}">
    <p th:text="${person.getName() + ', ' +person.getYear()}"> value</p>
    <form th:method="GET" th:action="@{/books/{id}/unsubscribe(id=${book.getId()})}">
        <input type="submit" value="Unsubscribe"/>
    </form>
</div>

<hr/>
<br/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>