<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<h4>Reader Info</h4>
<div>
<p th:text="${person.getName() + ', '+person.getYear()}">value</p>
</div>
<hr/>
<h4>Books Info</h4>
<div th:if="${#lists.isEmpty(books)}">
    <p>No books</p>
</div>
<div th:if="${not #lists.isEmpty(books)}">
    <p>List of books:</p>
    <ol>
        <div th:each="book : ${books}">
            <li>
                <a th:href="@{'/books/' + ${book.getId()}}">
                    <span th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></span>
                </a>
                <form th:method="PATCH" th:action="@{/books/{id}/unsubscribe-from-person-page(id=${book.getId()})}" style="display: inline; margin-left: 5px;">
                    <input type="submit" value="Unsubscribe"/>
                </form>
            </li>
        </div>
    </ol>
</div>

</div>


<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}" style="display: inline;">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" style="display: inline; margin-left: 5px;">
    <input type="submit" value="Delete"/>
</form>

<br/>
<p><a href="/index.html">Home</a></p>
</body>
</html>