<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>Spring Boot Library</h1>
    </div>
    <div id="readers-info">
        <a href="/people" class="button-link">People</a>

        <a href="/books" class="button-link">Books</a>

        <a href="/books/search" class="button-link">Search Book</a>
    </div>
    <div>
        <a href="/admin/index" class="button-link">Admin page</a>
        <br/>
    </div>
    <br/>
    <h1 th:inline="text">Hello <span >thymeleaf</span>!</h1>

    <form th:action="@{/logout}" method="post">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="submit" value="Sign Out"/>
    </form>

</div>



</body>
</html>